<body>
    <main>
        <div class="container=">
            <form action="">

                <label for="name"></label>
                <input type="text" class="contact" id="name" name="name" maxlength="100">
                
                <label for="address1"></label>
                <input type="text" class="contact" id="address1" name="address1" maxlength="100" >
                
                <label for="address2"></label>
                <input type="text" class="contact" id="address2" name="address2" maxlength="100" >
                
                <label for="city"></label>
                <input type="text" class="contact" id="city" name="city" maxlength="100" >
                
                <label for="state&zip"></label>
                <input type="text" class="contact" id="state&zip" name="state&zip" maxlength="10" >
                
                <label for="email"></label>
                <input type="text" class="contact" id="email" name="email" maxlength="100" >
                
                <label for="soc-media1"></label>
                <input type="text" class="contact" id="soc-media1" name="soc-media1" maxlength="100" >
                    
                <label for="soc-media2"></label>
                <input type="text" class="contact" id="soc-media2" name="soc-media2" maxlength="100" >
            
                <label for="soc-media3"></label>
                <input type="text" class="contact" id="soc-media3" name="soc-media3" maxlength="100" >

            </form>
        </form>
    </div>
    </main>
</body>