@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,300;1,400&family=Poppins:wght@100;400;700&display=swap');

/* Reset */
* > *, ::before, ::after {
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 300;   
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;  
}

a {
    text-decoration: none;
    color: inherit;
}

/*  Variables */
:root {
    /*  Colors */
    --primary-color: #555;
    --primary-hover-color: #777;

    /* Formatting */
    --global-padding: 1.0rem;
}

/*  Utiliy Classes */
.flex-column {
    display: flex;
    flex-direction: column;
} 

.flex-row {
    display: flex;
    flex-direction: row;
}

/*  Typography */

/* Global Styles */
h1, h2, h3, h4 {
   padding: 1.2rem 0; 
   color: var(--primary-color);
}

.main-nav, .main-content, footer {
    padding: var(--global-padding);
}

/*  Links */
a {
    color: var(--primary-color);
    transition: color .2s ease-in-out;
}

a:hover {
    color: var(--primary-hover-color);
}

/* Content Specific Styles */


main {
    background: #ccc;
    width: 100%;
    min-height: 50vh;
    padding: 1.2rem;
}


/*  Navigation */z
.main-nav {
    display: flex;
}

.main-nav ul{
    width: 100%;
    display: flex;
    justify-content: end;
}

.main-nav li {
    display: flex;
    margin-left: 1rem;
    justify-content: center;
}

.main-nav a {
    font-size: .8rem;
}

.copyright {
    font-size: .6rem;
    color: #777;
}

/* Forms */
.main-content {
    height: 100%;
    display: flex;
    justify-items: center;
    align-content: center;
}

form {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
}

legend {
    margin-bottom: 20px;
}

label  {
    font-size: .8rem;
    margin-bottom: 8px;
    color: var(--primary-color);
}

input {
    margin-bottom: 15px;
    padding: 0.4rem;
    border: 0;
    border-radius: 4px;
}

input[type=submit] {
    color: #fff;
    background-color: #777;
    cursor: pointer;
}

input:nth-last-child(2) {
    margin-bottom: 38px;
}

/*  Pages */

/*  Register Page */

.login-container {
    width: 250px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.5rem;  
}

