<nav class="main-nav">
    <ul>
        <li><a href="https://andrewfurnevelphotography.com/home">Home</a></li>
        <li><a href="https://andrewfurnevelphotography.com/about">About</a></li>
        <li><a href="https://andrewfurnevelphotography.com/work">Work</a></li>
        <li><a href="https://andrewfurnevelphotography.com/contact">Contact</a></li>
    </ul>
</nav>

<main>