<nav class="main-nav">
    <ul>
        <li><a href="http://localhost:3000/home">Home</a></li>
        <li><a href="http://localhost:3000/about">About</a></li>
        <li><a href="http://localhost:3000/work">Work</a></li>
        <li><a href="http://localhost:3000/contact">Contact</a></li>
    </ul>
</nav>

<main>