
<nav class="main-nav">
    <ul>
        <li><a href="<% process.env.HOST %>/home">Home</a></li>
        <li><a href="<% process.env.HOST %>/about">About</a></li>
        <li><a href="<% process.env.HOST %>/work">Work</a></li>
        <li><a href="<% process.env.HOST %>/contact">Contact</a></li>
    </ul>
</nav>

<main>