<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    
    <!-- <div class="main-content">  -->
        
        <!-- <h2>Login</h2> -->
        <div class="login-container">

            <form action="" method="POST">
                <legend>Validation Tester</legend>

                <label for="username" id="">Username</label>
                <input type="text" name="username" id="username">
                
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="last-input">
                
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="last-input">

                <label for="telephone">Telephone Number</label>
                <input type="input" name="telephone" id="telephone" class="last-input">

                <label for="ip-address">IP Address</label>
                <input type="input" name="ip-address" id="ip-address" class="last-input">

                <input type="submit" value="Login">
                    
            </form>
         </div>
    <!-- </div> -->
    
        <%- include('./partials/footer.ejs') %>
    
    </body>

    </html>