<!-- User Area -->

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

   <h1>User Logged In</h1> 
   <div>Hello</div>
   
   <%- include('./partials/footer.ejs') %>

</body>
